<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UWFunSticker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>UWFunStickerExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA9444FC1EAC648F0042F881</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA9445101EAC648F0042F881</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA94451B1EAC648F0042F881</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA9445391EAC6E700042F881</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
