<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UWFunSticker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA178B9E1E8638E5006FBF7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA178BB21E8638E5006FBF7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA178BBD1E8638E6006FBF7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
